<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.input :email %>
  <%= f.input :password %>
  <div style="margin-top: -10px; margin-left: 150px; margin-bottom: 20px; ">
    <span class="help-block">(leave blank if you don't want to change it)</span>
  </div>
  <%= f.input :password_confirmation %>
  <%= f.input :current_password %>
  <div style="margin-top: -10px; margin-left: 150px; margin-bottom: 30px;">
    <span class="help-block">(we need your current password to confirm your changes)</span>
  </div>
  <%= f.submit "Update" %>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>

<%= link_to "Back", :back %>
